<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} Интернет-магазин {% endblock %}</title>
    </head>
    <body>
        <div>
            {% block content %}
                Страница не заполнена.
            {% endblock %}
            <div>
                <hr>
                <br>
                <p> GB 2024 &copy;</p>
                <a href="https://bandurko1gb.pythonanywhere.com/admin/">Админка</a>
            </div>
        </div>

    </body>
</html>